*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.glassmorphism{
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16.5px );
    -webkit-backdrop-filter: blur( 16.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px;
}




nav{
    min-height: 7vh;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    font-family: sans-serif;

    display: flex;
    align-items: center;
    
    padding-left: 10px;
}



.container{
    font-family: sans-serif;
  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
     
    margin-top: 2rem;
    padding: 20px;

    .error {
        color: red;
        padding: 10px;
    }

    .description {
        padding: 10px;
    }
    label{
padding-top: 10px;
        display: inline-block;
        width: 5rem;
       
    }

    input{
        padding: 10px;
        border-radius: 2rem;
    }
    
    .center{
        padding: 10px;
    }

   input {
    width: inherit;
   }

    button{
        padding: 10px 25px;
        border-radius: 2rem;
        cursor: pointer;
        outline: none;



    }
  
}















.change-table{
  

    caption{
        margin: 2rem;
    }
   
    th{
        border: 1px solid black;
        width: 10rem;
        height: 5rem;
    }

    tr td {
        border: 1px solid black;
        width: 10rem;
        height: 5rem;
   text-align: center;
    }
}
.error{
    display: none;
}